<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="htmlicon"
        [percent]="35"
        [radius]="90"
        [imageSrc]="'../../../assets/html5icon.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#98FB98'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="cssicon"
        [percent]="25"
        [radius]="90"
        [imageSrc]="'../../../assets/CSSicon.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#98FB98'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-md-4 col-lg-4">
        <circle-progress id="jsicon"
        [percent]="20"
        [radius]="90"
        [imageSrc]="'../../../assets/javascripticon.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#98FB98'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="angularicon"
        [percent]="20"
        [radius]="90"
        [imageSrc]="'../../../assets/angularicon.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#98FB98'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="cicon"
        [percent]="35"
        [radius]="90"
        [imageSrc]="'../../../assets/c_icon.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#98FB98'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="javaicon"
        [percent]="35"
        [radius]="90"
        [imageSrc]="'../../../assets/javaicon.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#98FB98'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="languageicon"
        [percent]="35"
        [radius]="90"
        [imageSrc]="'../../../assets/language_icon.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#98FB98'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="teamworkicon"
        [percent]="100"
        [radius]="90"
        [imageSrc]="'../../../assets/teamworkicon.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#800080'"
        [innerStrokeColor]="'#98FB98'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
  
</div>