  <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photoPerfil.jpg" class="img-fluid" id="FotoPerfil">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <p id="nombre">Marcelo Matias Gonzalez</p>
          <p>Full Stack Developer Jr</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <span>
              <h1>Acerca de mí</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, iusto necessitatibus? Dolor, voluptates maiores. Totam, labore, repellendus voluptatum quae minus impedit alias, ea nisi dolorum voluptatibus nostrum explicabo ab asperiores.</p>
          </span>
      </div>
  </div>


