.row{
    background-color: paleturquoise;
}
footer{
    color: grey;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px silver;
}